@model COMICSHOP.Areas.Admin.Data.TheLoaiVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm("Create", "TheLoai", FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container w-75">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3 row">
            @Html.LabelFor(model => model.TenTL, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.TenTL, new { htmlAttributes = new { @class = "form-control", id = "TenTL" } })
                <span id="tentlError" class="text-danger" style="display: none;"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div class="message"></div>


