@using COMICSHOP.Models
@model List<Truyen>


<h4 class="mb-0 mb-4">Truyện tương tự</h4>
<div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-3 mb-3">
                <div class="card h-100 shadow-sm">
                    <div class="position-relative image-resize d-flex justify-content-center">
                        <a href="@Url.Action("ChitietSP", "Truyen", new { id = item.MaTruyen })" class="text-decoration-none">
                            <img src="~/Images/@item.HinhAnh" class="card-img-top" style="width: 200px; height:200px">
                        </a>
                        <span class="promotion badge bg-danger position-absolute top-0 start-0 m-2"></span>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title truncated-title">
                            <a class="text-decoration-none text-dark" style="font-size:14px;" href="@Url.Action("ChitietSP", "Truyen", new { id = item.MaTruyen })">@item.TenTruyen</a>
                        </h5>
                        <div class="mt-auto">
                            <div class="price">
                                <span class="price-new text-success">@string.Format("{0:#,0}", item.Gia)&nbsp;₫</span>
                                <span class="price-old text-muted"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

